{{ header }} {{ column_left }} {{ column_right }} 
<div style="text-align: center;">
  {% if status  ==  'Approved' %} 

  <h1>{{ heading_title }} </h1>
  <p><b>Your Payment Has Been Received</b></p>
  <p>You can view your Purchase History from your "Account Page"</p>
  <p>Your would be processed once payment has been confirmed.</p>
  <p><h3>Order Details:</h3><hr /></p>
  <p><b>Date: </b>{{ date }} <p>
  <p><b>Email: </b>{{ email }} <p>
  <p><b>Transaction Id: </b>{{ transaction_id }} <p>
  <p><b>Status: </b>{{ status }} <p>
    <div class="buttons">
      <div class="right"><a href="{{ continue }} " class="button">{{ button_continue }} </a></div>
    </div>
  {% else %}  


  <h1>Payment Failed</h1>
  <p>Payment for this order was not received.</p>
  <p><h3>Order Details:</h3></p>
  <p><b>Date: </b>{{ date }} <p>
  <p><b>Email: </b>{{ email }} <p>
  <p><b>Transaction Id: </b>{{ transaction_id }} <p>
  <p><b>Status: </b>{{ status }} <p>
  <div class="buttons">
    <div class="right"><a href="{{ fail_continue }} " class="button">{{ button_continue }} </a></div>
  </div>
</div>
  {% endif %}

  {{ content_bottom }} </div>
{{ footer }} 